html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Helvetica,Tahoma,Arial,sans-serif;
    font-size: 12px;
}

#header {
    height: 102px;
    z-index: 999;
    position: absolute;
    width: 100%;
}

#mapdraw {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.boxleft {
    width: 500px;
    height: 440px;
    position: absolute;
    top: 150px;
    left: 30px;
    background-image: url(../Image/topbannerbg.png);
    background-repeat: repeat-x;
    background-size: 100% 100%;
    color:#48b5d4;
    z-index: 1;
}

    .boxleft > .row > div:nth-child(1) {
        height: 100%;
        border-right: 1px solid #116bf2;
        width: 60px;
        float:left;
    }

    .boxleft > .row {
        margin-left: 0px;
        height: 440px;
      
    }

.boxleft > .row li > div:nth-child(1) {
            height: 5px;
    }

li {
    list-style: none;
}

ul {
    margin-left: -25px;
}

.boxleft > .row li:nth-child(n+2) {
    margin-top: 30px;
}
 .boxleft > .row li:nth-child(n+2) > div {
            width: 27px;
            height: 25px;
            background-image: url(../Image/leftbootombg.png);
            background-repeat: no-repeat;
            cursor: pointer;
}
  .boxleft > .row li:nth-child(n+2) > div:hover {
         background-image: url(../Image/leftbootombg_1.png);
}
.leftactive{
    background-image: url(../Image/leftbootombg_1.png) !important;
}
 .boxleft > .row li:nth-child(1) > div {
            height: 5px;
    }
.boxleft > .row li:nth-child(2) > div {
         background-position: 0px 0px;
     

}
.boxleft > .row li:nth-child(3) > div {
         background-position: 0px -70px;
 }
.boxleft > .row li:nth-child(4) > div {
         background-position: 0px -140px;
    }
.boxleft > .row li:nth-child(5) > div {
         background-position: 0px -210px;
    }
.boxleft > .row li:nth-child(6) > div {
         background-position: 0px -280px;
    }
.boxleft > .row li:nth-child(7) > div {
         background-position: 0px -350px;
    }
.boxleft > .row li:nth-child(8) > div {
         background-position: 0px -420px;
    }
   .boxleft > .row > div:nth-child(2) {
        height: 100%;
        width:440px;
        float:right;
        margin-right:-10px;
    }
   .boxleft_right>div:nth-child(1){
       font-size:16px;
       color:#48b5d4;
       font-family:'Microsoft YaHei';
       height:40px;
       vertical-align:middle;
       line-height:40px;
   }
      .boxleft_right>div:nth-child(1) .col-md-12, .boxleft_right>div:nth-child(5) .col-md-6{
       padding-left:0px;
   }
   .boxleft_right>div:nth-child(1) i{
       margin:0 10px;
   }
.boxleft_right>div:nth-child(2)>div:nth-child(1){
    margin-left:10px;
    width:100px;
    float:left;
}
.boxleft_right>div:nth-child(3)>div:nth-child(1),.boxleft_right>div:nth-child(4)>div:nth-child(1){
    margin-left:10px;
    width:180px;
    float:left;
    height:25px;
    margin-top:3px;
}
.boxleft_right>div:nth-child(2)>div:nth-child(2){
    
    width:300px;
    float:right;
    height:25px;
    margin-top:3px
}
.boxleft_right>div:nth-child(3)>div:nth-child(2){
    width:260px;
    float:right;
    margin-right: -20px;
}
.boxleft_right>div:nth-child(4)>div:nth-child(2){
    width:260px;
    float:right;
    margin-right: -142px;
}
#deviceselect,#brigadeselect,#squadronselect,#sbstate{
    display: inline-block;
    width: 110px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #ffffff;
    padding: 0px;
    margin-left: 20px;
    background-color: #116bf2;
    background-image: none;
    border: 1px solid #116bf2;
    border-radius: 4px;
}
#deviceselect{
   margin-left: 0px;
}
.form-control {
    display: block;
    width: 100%;
    height: 24px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #116bf2 !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.seach-box{
    width:240px;
    margin-top:-2px;
}
.btn{
     padding: 1px 12px !important;
    color: #fff !important;
    border-color: #116bf2 !important;
    background-color:#005EB8 !important;
}
.bt2,#cz-bianji {
    display: inline-block;
    margin-left: 10px;
    border-radius: 5px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: white;
    padding: 0 10px;
}
.shishi {
    background-color: #116bf2;
    cursor: pointer;
    font-size:12px;
    margin-left: 15px;
}
.boxleft_right>div:nth-child(5) div:first-child {
    font-size: 16px;
    color: #48b5d4;
    font-family: 'Microsoft YaHei';
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
}
.boxleft_right>div:nth-child(5) i {
    margin: 0 10px;
}
#cz-bianji{
    margin-left:110px;
    margin-top:5px;
    font-size:12px;
}
.classtablerespone {
    height: 34px;
    color: #fff;
    width:412px;
    background-color: #005EB8;

    overflow-y: hidden;
}
.tab-maxh {
    height: 210px;
    width:412px;
    overflow-y: auto;
}
#histrorysearch{
    width:280px;
    height:150px;
    background-image: url(../Image/topbannerbg.png);
    background-repeat: repeat-x;
    background-size: 100% 100%;
    position: absolute;
    top: 290px;
    left:540px;
     visibility:hidden;
}
#histrorysearch .row:first-child{
    float:right;
    margin-right:6px;
    color:#fff;
}
#histrorysearch .row{
    margin-top:3px;
    color:#fff;
    margin-left:0px;
    height:25px;
}
#histrorysearch .row div:nth-child(1){
  float:left;
  width:80px;
  height:25px;
  text-align:right;
}
#histrorysearch .row div:nth-child(2){
  float:right;
  width:200px;
  height:25px;
  text-align:left;
  display:inline;
}
#histrorysearch .row:nth-child(2){
    margin-top:30px;
}
#histrorysearch #cz-cx{
    width:50px;
    margin-left:200px;
    margin-top: 3px;
    vertical-align:middle;
    line-height:25px;
}
 .date input {
    width: 110px !important;
    height: 28px;
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 14;
    border-radius: 4px;
    color: #999999;

    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
 .calendar1{
    position: absolute;
    top: 5px !important;
    right: 243px;
    color: #005EB8;
    z-index: 5;
}
  .calendar2{
    position: absolute;
    top: 3px !important;
    right: 104px;
    color: #005EB8;
    z-index: 5;
}
 #start-data{
     width:350px !important;
 }
.end_form_datetime {
   margin-left:30px;
    border-radius:4px !important;
}
#start-data span{
 position: absolute;
 right: 218px;
}
select[disabled],#cz-bianji[disabled]
{ 
background-color: #ccc !important;
color:#555;
}
.table{
    color:#fff;
}
.table>thead>tr>th {
    border-bottom: 0px ;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border:0px;
}
.table>tbody>tr:nth-child(2n+1)>td{
background-color: #13204d !important;
}
.table>tbody>tr:nth-child(2n)>td{
background-color: #213366 !important;
}
.tab-maxh .table tr{
    height:30px;
}
.tab-maxh .table tr td{
    padding:4px,2px;
    text-align:center;
    vertical-align:middle;
}
.equipmentNumb{
   font-size:14px;
   font-weight:400;
   margin-top:5px;
}
.equipmentNumb span {
    margin-right:5px;
}
.equipmentNumb label {
   font-weight:400;
}
  .css_animation{  
        height:50px;  
        width:50px;  
        border-radius: 25px;  
        background: rgba(255, 0, 0, 0.9);  
        transform: scale(0);  
        animation: myfirst 3s;  
        animation-iteration-count: infinite;  
    }  
  
    @keyframes myfirst{  
        to{  
            transform: scale(2);  
            background: rgba(0, 0, 0, 0);  
        }  
    }  
      .fa-map-marker-color-online{
      color:#116bf2;
  }
  .fa-map-marker-color-unline{
      color:#ccc;
  }
   .fa-map-marker-color-mouseover{
      color:#005EB8;
  }
   .table i{
       cursor:pointer;
   }
.cell-button:hover {
    background-color:#5cbf2a;
}
.cell-button:active {
    position:relative;
    top:1px;
}
.fa-close{
    cursor:pointer;
}
.start_form_datetime {
    background-color:transparent !important;
    color:#fff !important;
    border-color:#fff !important;
}
.calendar1{
    color:#fff !important;
}
.bh{
    display:none;
}
.device1, .device2, .device4, .device5, .device6, .device7, .device8 {
    height: 12px !important;
    width: 12px !important;
    display:inline;
    cursor:pointer;
}
 .device3{
   height: 12px !important;
    width: 14px !important;
   cursor:pointer;
 }
.device1,.device7,.device8{ 
        background:transparent url('../Image/deviceicologo.png') no-repeat scroll 0px 0px;
}
.device2{
       background:transparent url('../Image/deviceicologo.png') no-repeat scroll -80px 0px;
      
}
.device3{
     background:transparent url('../Image/deviceicologo.png') no-repeat scroll -61px 0px;
}
.device4{
       background:transparent url('../Image/deviceicologo.png') no-repeat scroll -48px 0px;
}
.device5{
       background:transparent url('../Image/deviceicologo.png') no-repeat scroll -18px 0px;
}
.device6{
       background:transparent url('../Image/deviceicologo.png') no-repeat scroll -32px 0px;
}
#histrorysearch ul{
    margin-left: -40px;
    margin-top: 3px;
}
