.row2n,.row1n{
    cursor:pointer;
}

@media screen and (min-width: 2600px) {
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        font-family: Helvetica,Tahoma,Arial,sans-serif;
        font-size: 12px;
        background-image: url(../Image/indexbg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /*-moz-background-size:100% 100%;*/
    }
    .col-lg-12 .row:nth-child(2){
        margin-top:80px;
    }
    #alertmodal .modal-header div {
    font-size: 48px;
     }
    #alertmodal  .modal-content{
        height:700px;
    }
   #alertmodal #chart {
    width: 720px;
   }
    #alertmodal .modal-dialog{
        width:2000px;
    }
    #alertmodal  #column {
    width: 1000px;
    height: 600px;
}
   #alertmodal .chars > ul li:nth-child(2n+1) {
    font-size: 38px;
    width:  38px;
    color: #fff;
    height: 100%;
    word-wrap: break-word;
    }
    .qjxinxi{
    position: absolute;
    width: 40%;
    left: 20%;
    border: 4px solid #29599b;
    border-radius: 8px;
    }

    .col-lg-12 {
      width: 95%;
      margin-left:100px;
      }
  body{
        margin-top:30px;
    }

    body {
        -webkit-text-size-adjust: none;
    }

    #bodybg {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .banner {
        height: 88px;
        background-image: url(../Image/bannerbg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

        .banner .col-lg-9 img {
            margin: 25px auto auto 10px;
        }

        .banner .col-lg-3 > div {
            height: 77px;
            width: 266px;
            background-image: url(../Image/bannar-time-bg.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: table-cell;
            vertical-align: middle;
            margin-right: 50px;
            float: right;
            padding-top: 15px;
            margin-top: -60px;
        }

        .banner .col-lg-3 div label:nth-child(1) {
            margin: auto;
            margin-left: 40px;
            margin-top: 10px;
            color: #ffffff;
            font-size: 30px;
        }

        .banner .col-lg-3 div label:nth-child(2) {
            margin: auto;
            margin-left: 20px;
            margin-top: 10px;
            color: #ffffff;
            font-size: 12px;
        }

    .leftbox {
        float: left;
        width: calc(100% - 820px);
        margin-left: 0;
        margin-right: 0;
    }

    .rightbox {
        width: 780px;
        float: right;
        margin-right: 30px;
        margin-top: 5px;
    }

    .entitylist {
        width: 100%;
        height: 90px;
        border: 2px solid #29599b;
        border-radius: 4px;
        font-size: 20px;
    }

        .entitylist li:nth-child(1) {
            color: #4c8afa;
        }

        .entitylist li:nth-child(2) {
            /*display: block;*/
            margin-top: 6px;
        }

    .ddlabel {
        margin-left: 10px;
    }


    .rightbox ul {
        margin: 15px 10px;
        padding-left: 20px;
    }

    .rightbox span {
        margin: 0 12px;
    }

    .rightbox li {
        font-size: 20px;
        display: inline;
    }

    .leftbox > div:nth-child(1) {
        width: 100%;
        height: 180px;
        vertical-align: middle;
        line-height: 180px;
    }

    .leftbox div:nth-child(1) i:nth-child(1) {
        margin-left: 50px;
        font-size: 34px;
        color: #fff;
    }

    .leftbox div:nth-child(1) label:nth-child(2) {
        margin-left: 10px;
        font-size: 34px;
        color: #fff;
    }

    .ddlabel {
        font-weight: 400;
    }

    .leftbox > div:nth-child(1) > div:nth-child(3) {
        color: #fff;
        height: 135px;
        width: 740px;
        border-radius: 4px;
        border: 2px solid #29599b;
        position: relative;
        margin: 0 auto;
        margin-top: -215px;
        background-color: transparent;
    }
    .xixi2 img{
        margin-left:15px;
    }
    #infomodal {
        font-size:50px;
    }
    #infomodal .modal-dialog {
    width: 1500px !important;
    }

    .qjxinxi div:nth-child(1) {
        font-size: 40px;
        color: #fff;
        height: 50px;
        background-color: transparent;
        line-height: 50px;
        margin-left: 20px;
        margin-top:10px;
    }

    .qjxinxi div:nth-child(2) {
        font-size: 24px !important;
        color: #fff !important;
        height: 85px !important;
        background-color: transparent !important;
    }

    .qjxinxi ul {
        width: 100%;
        position: absolute;
        margin-left: 10px;
    }

    .qjxinxi li, .qjxinxi ul {
        display: inline-block;
        height: 85px;
        line-height: 85px;
    }

    .qjxinxi li {
        position: relative;
        width: 24%;
    }

        .qjxinxi li i:nth-child(1) {
            position: absolute;
            margin-top: 10px;
            margin-left: -10px !important;
        }

        .qjxinxi li label:nth-child(2) {
            position: absolute;
            margin-top: -25px;
            margin-left: 30px !important;
            font-size: 34px !important;
        }

        .qjxinxi li label:nth-child(3) {
            position: absolute;
            margin-top: 5px;
            margin-left: 30px !important;
            font-size: 26px !important;
        }

    .leftbox > div:nth-child(2) {
        width: 100%;
        height: 630px;
    }

    .leftbox > div:nth-child(3) {
        width: 100%;
        height: 60px;
        font-size: 34px;
        color: #fff;
    }

    .leftbox div:nth-child(3) i {
        margin-left: 50px;
        margin-right: 10px;
    }

    .leftbox div:nth-child(4) {
        width: 100%;
        height: 436px;
        margin-left: 50px;
    }

        .leftbox div:nth-child(4) .col5 {
            border-radius: 4px;
            display: inline-block;
            border: 2px solid #29599b;
            height: 100%;
            width: 37%;
            float: left;
        }

        .leftbox div:nth-child(4) .col7 {
            position: relative;
            border-radius: 4px;
            margin-left: 25px;
            display: inline-block;
            border: 2px solid #29599b;
            height: 100%;
            width: 60%;
            float: left;
        }

    .leftbox div:nth-child(5) {
        position: relative;
        width: 100%;
        height: 440px;
    }

    .leftbox > div:nth-child(5) > div:nth-child(1) {
        width: 98%;
        height: 100%;
        border-radius: 4px;
        margin-left: 65px;
        border: 2px solid #29599b;
        margin-top: 50px;
    }

    .row2n, .row1n {
        margin-top: 26px;
        margin-bottom: 5px;
        height: 330px;
        width: 780px;
        background-color: #082653;
        border: 2px solid #29599b;
        border-radius: 4px;
    }

    .row1n {
        background-color: rgba(8,39,83,0.6);
    }

        .row2n img:nth-child(1), .row1n img:nth-child(1) {
            margin-left: 20px;
            margin-top: -15px;
        }

        .row2n div:first-child, .row1n div:first-child {
            margin-top: 10px;
        }

        .row2n div label:nth-child(2), .row1n div label:nth-child(2) {
            font-size: 32px;
            color: #fff;
            margin-left: 10px;
        }

        .row2n div img:last-child, .row1n div img:last-child {
            float: right;
            margin-right: 15px;
        }

        .row2n div:nth-child(2), .row1n div:nth-child(2) {
            height: 226px;
        }

        .row2n div:nth-child(3), .row1n div:nth-child(3) {
            font-size: 16px;
            height: 30px;
        }

            .row2n div:nth-child(3) span:nth-child(1), .row1n div:nth-child(3) span:nth-child(1) {
                font-size: 16px;
                color: #c3c6d9;
                float: left;
            }

            .row2n div:nth-child(3) span:nth-child(2), .row1n div:nth-child(3) span:nth-child(2) {
                font-size: 16px;
                color: #c3c6d9;
                float: right;
            }

    .col5 img, .col7 img, .col12 img {
        font-size: 34px;
        margin-top: -20px;
    }

    .col5 label, .col7 label, .col12 label {
        font-size: 34px;
        margin-top: 10px;
        color: #fff;
    }

    .col7 label {
        margin-left: 10px;
    }

    .col12 img {
        margin-left: 20px;
    }

    .xzlb > iframe {
        width: 100%;
        height: 100%;
        border: 0px;
    }

    .rlchars, .rlchars ul, .rlchars li {
        display: inline-block;
        margin: 0 auto;
        height: 100%;
        vertical-align: middle;
    }

        .rlchars > ul li:nth-child(2n+1) {
            font-size: 28px;
            width: 28px;
            line-height: 32px;
            color: #fff;
            height: 100%;
            word-wrap: break-word;
        }

        .rlchars > ul li:nth-child(1) {
            margin-top: 50px;
        }

        .rlchars > ul li:nth-child(3) {
            margin-top: 20px;
        }

        .rlchars > ul li:nth-child(2) {
            font-size: 28px;
            width: 280px;
            color: #fff;
            height: 100%;
        }

        .rlchars > ul li:nth-child(4) {
            font-size: 28px;
            width: 420px;
            color: #fff;
            height: 100%;
        }

    #jwtchart, #ljychart, #czchart, #zfchart, #djjchart {
        margin-top: -120px;
        width: 250px;
        margin-left: 15px;
    }

    #jwtcolumn, #ljycolumn, #czcolumn, #zfcolumn, #djjcolumn {
        margin-top: -60px;
        width: 400px;
        height: 270px;
    }

    #zf_gfscl {
        margin-left: 50px;
    }

    #zf_zxshj {
        margin-left: -40px;
    }

    #djj_jrzx {
        margin-left: 80px;
    }

    #djj_gfscl {
        margin-left: 40px;
    }

    #zf_gfscl, #zf_zxshj, #djj_jrzx, #djj_gfscl, #djj_zxshj {
        margin-top: -40px;
        width: 500px;
        height: 360px;
        display: inline-block;
    }

    .highcharts-data-label-box {
        display: none;
    }

    .highcharts-title {
        text-align: center;
        color: #fff;
    }

    #jwt_jrzx, #jwt_cxl, #jwt_rjcf, #jwt_jrcl, #jwt_pjcf {
        margin-top: -40px;
        display: inline-block;
        width: 16.66%;
    }

    .jwt_logo {
        display: inline-block;
        background: url("../Image/index_bz.png") no-repeat center center;
        width: 400px;
        height: 80%;
    }

    .fa-arrow-up {
        color: #008000 !important;
        margin-left: -40px;
        display: inline-block;
    }

    .fa-arrow-down {
        color: #FF0000 !important;
        margin-left: -40px;
        display: inline-block;
    }

    .timebanner {
        height: 100px;
        float: right;
        color: #fff;
        margin-right: 50px;
        vertical-align: middle;
        line-height: 100px;
        font-size: 32px;
    }
      .hbclasslabel{
       font-size: 32px;
    }
      #header{
       display:none;
      }
}
@media screen and (max-width: 2000px) {
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        font-family: Helvetica,Tahoma,Arial,sans-serif;
        font-size: 12px;
        background-image: url(../Image/indexbg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /*-moz-background-size:100% 100%;*/
        color:#fff;
    }
    body {
        -webkit-text-size-adjust: none;
    }
    #bodybg {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .timebanner{
        margin-right:10px;
        margin-top:10px;
        text-align: right;
    }
    .leftbox{
        margin-top:30px;
        float: left;
        width: calc(100% - 330px);
        margin-left: auto;
        margin-right: auto;
    }
    
     .rightbox {
        width: 312px;
        float: right;
        margin-right: 10px;
        margin-top: -3px;
    }
     .qjxinxi{
         margin:auto;
         width:390px;
         height:62px;
         border: 1px solid #29599b;
         border-radius: 2px;
     }
      .qjxinxi div:nth-child(1) {
        font-size: 14px;
        color: #fff;
        height: 22px;
        background-color: transparent;
        line-height: 22px;
        margin-left: 20px;
    }

    .qjxinxi div:nth-child(2) {
        font-size: 24px !important;
        color: #fff !important;
        height: 40px !important;
        background-color: transparent !important;
    }

    .qjxinxi ul {
        width: 100%;
        position: absolute;
        margin-left: -20px;
    }

    .qjxinxi li, .qjxinxi ul {
        display: inline-block;
        height: 40px;
        line-height:40px;
    }

    .qjxinxi li {
        position: relative;
        width: 90px;
    }

    .qjxinxi li i:nth-child(1) {
        position: absolute;
        margin-top: 10px;
        margin-left: -10px !important;
    }

    .qjxinxi li label:nth-child(2) {
        position: absolute;
        margin-top: -5px;
        margin-left: 18px !important;
        font-size: 14px !important;
    }

    .qjxinxi li label:nth-child(3) {
        position: absolute;
        margin-top: 8px;
        margin-left: 18px !important;
        font-size: 12px !important;
    }
    .fa-th-list{
       margin-left:30px;
       position:absolute;
       margin-top:50px;
       font-size:14px;
     }
    .fa-th-list+label {
       margin-left:48px;
       position:absolute;
       margin-top:48px;
       font-size:14px;
    }
    .col-lg-12>.row:nth-child(2){
        margin-top:10px;
    }
    .col-lg-12>.row:nth-child(1){
        height: 102px;
        background-image: url(../Image/bannerbg.png);
        background-repeat:repeat;
        background-size: 100% 100%;
        line-height:58px;
        vertical-align:middle;
       visibility:hidden;
    }
    .xzlb{
        height:240px;
    }
    .xzlb > iframe {
        width: 100%;
        height: 100%;
        border: 0px;
    }
    .leftbox>.row:nth-child(3){
           margin-top:10px;
        height:20px;
        line-height:20px;
        vertical-align:middle;
        font-size:14px;
        font-weight:700;
    }
    .leftbox>.row:nth-child(3)>i{
        margin-left:30px;
        font-size:14px;
        margin-right:5px;
    }
    .leftbox > .row:nth-child(4) {
        margin-top:20px;
        height:160px;
        overflow:hidden;

    }
    .leftbox > .row:nth-child(5) {
           margin-top:30px;
        height:160px;
        overflow:hidden;
     }
    #zf_gfscl, #zf_zxshj
    {
    margin-top: 0px;
    width: 50%;
    height: 110px;
    display: inline-block;
    }

     #djj_jrzx, #djj_gfscl, #djj_zxshj {
    margin-top: 0px;
    width: 33.3%;
    height: 110px;
    display: inline-block;
    }
  
    .hbclasslabel{
       font-size: 12px;
    }
    .col-md-4{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .highcharts-title{
        width:160px !important;
        text-align:center;
    }
 
   #bodybg img{
    transform: scale(0.5)
    }

    #jwt_jrzx, #jwt_cxl, #jwt_rjcf, #jwt_jrcl, #jwt_pjcf {
        margin-top: -20px;
        display: inline-block;
        width: 16.66%;
    }
     .leftbox div:nth-child(4) .col5 {
            border-radius: 4px;
            display: inline-block;
            border: 1px solid #29599b;
            height: 100%;
            width: calc(40% - 30px);
            float: left;
            margin-left: 25px;
            text-align:center;
        }

        .leftbox div:nth-child(4) .col7 {
            position: relative;
            border-radius: 4px;
            margin-left: 25px;
             margin-right: 25px;
            display: inline-block;
            border: 1px solid #29599b;
            height: 100%;
            width: calc(60% - 45px);
            float: right;
              text-align:center;
        }
        .xixi1,.xixi2{
            text-align:left;
        }
       .leftbox > div:nth-child(5) > div:nth-child(1) {
        margin-right: 25px;
        height: 100%;
        border-radius: 4px;
        margin-left: 25px;
        border: 1px solid #29599b;
    }
       .entitylist{
         width:320px;
        height: 60px;
        border: 1px solid #29599b;
        border-radius: 1px;
        font-size: 12px;
        vertical-align:middle;
        line-height:30px;
        text-align:left;
       }
    .entitylist ul,.entitylist ul li {
        display:inline-block;
        list-style:none;
        padding-left:5px;
    }
       iframe{
           margin:0 25px 0 25px;
       }
       .leftbox >.row:nth-child(2){
           margin:0 45px 0 0;
       }
        .rlchars, .rlchars ul, .rlchars li {
        display: inline-block;
        margin: 0 0;
        height: 100%;
        vertical-align: middle;
    }

        .rlchars > ul li:nth-child(2n+1) {
            font-size: 12px;
            width: 12px;
            color: #fff;
            height: 100%;
            word-wrap: break-word;
        }
        .rlchars ul{
            margin:0;
            padding:0;
        }

        .rlchars > ul li:nth-child(1) {
            margin:0 0 0 5px;
        }

        .rlchars > ul li:nth-child(3) {
                    margin:0px;
        }

        .rlchars > ul li:nth-child(2) {
            font-size: 12px;
            width: 80px;
            color: #fff;
            height: 100%;
                    margin:0px;
        }

        .rlchars > ul li:nth-child(4) {
                    margin:0px;
            font-size: 12px;
            width: 200px;
            color: #fff;
            height: 100%;
        }
            #jwtcolumn, #ljycolumn, #czcolumn, #zfcolumn, #djjcolumn {
        margin-top: -10px;
        width: 200px;
        height: 110px;
        font-size:8px !important;
    }
         .row2n, .row1n {
        margin-top: 5px;
        margin-bottom: 2px;
        height: 130px;
        width: 320px;
        background-color: #082653;
        border: 1px solid #29599b;
        border-radius: 2px;
    }
       #jwtchart, #ljychart, #czchart, #zfchart, #djjchart {
        margin-top: -20px;
        width: 80px;
        margin-left: 0px;
        height:120px;
    }
      .row2n div img:last-child, .row1n div img:last-child {
            float: right;
            margin-right: 15px;
        }
      .col-md-9 img{
          margin-left:-70px;
      }
      .jwt_logo {
        display: inline-block;
        background: url("../Image/index_bz.png") no-repeat center center;
        width: 140px;
        height: 80%;
        margin-top:-20px;
    }
  .fa-arrow-up {
        color: #008000 !important;
        display: inline-block;
    }

    .fa-arrow-down {
        color: #FF0000 !important;
        display: inline-block;
    }
*::-webkit-scrollbar {/*滚动条整体样式*/
        width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }
*::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #535353;
    }
*::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
    }
  .row1n {
        background-color: rgba(8,39,83,0.6);
    }

  #header {
    height: 73px;
    z-index: 999;
    position: absolute;
    width: 100%;
    }
  
}

  .highcharts-label-box{
        stroke-width:0 !important;
     
    }
    .highcharts-data-labels{
           display:none;
    }
.modal-content{
background-color: #000f45;
color:#fff;
}
.modal-header .close {
color:#fff;
opacity: .8;
}
.modal-body{
border-bottom-width:0;
}
.modal-dialog{
width:1000px;
}
#infomodal .modal-dialog{
width:500px;
}
.modal-content{
border: 1px solid #022396 !important;
}
.modal-header{
    border-bottom:0px;
}

#alertmodal,#infomodal{
    width:100%;
    height:100%;
}
.modal-content{
 
    height:400px;
}
#infomodal .modal-content{
 
    height:300px;
}
.modal-body ul,.modal-body li{
        display: inline-block;
        margin: 0 auto;
        height: 100%;
        vertical-align: middle;
}
.modal-header>div{
    float:left;
}
.chars > ul li:nth-child(2n+1) {
    font-size: 24px;
    width: 24px;
    color: #fff;
    height: 100%;
    word-wrap: break-word;
}
#chart{
    width:260px;
}
#column{
    width:600px;
    height:300px;
}
.chars{
    margin-top:-20px;
}
.modal-header div {
    font-size:24px;
}
.entitylist li:nth-child(1) .glyphicon-stop,#infomodal li:nth-child(1) .glyphicon-stop{
    color: #4c8afa;
}

.entitylist li:nth-child(2) .glyphicon-stop,#infomodal li:nth-child(2) .glyphicon-stop {
    color: #f2ab22;
}

.entitylist li:nth-child(3) .glyphicon-stop,#infomodal li:nth-child(3) .glyphicon-stop{
    color: #43db89;
}

.entitylist li:nth-child(4) .glyphicon-stop,#infomodal li:nth-child(4) .glyphicon-stop {
    color: #38e8e8;
}
.entitylist li:nth-child(5) .glyphicon-stop,#infomodal li:nth-child(5) .glyphicon-stop{
    color: #a24cfa;
}
.entitylist li:nth-child(6) .glyphicon-stop,#infomodal li:nth-child(6) .glyphicon-stop {
    color: #38e8e8;
}
.entitylist li:nth-child(7) .glyphicon-stop,#infomodal li:nth-child(7) .glyphicon-stop {
    color: #fa4cae;
}
.entitylist li:nth-child(8) .glyphicon-stop,#infomodal li:nth-child(8) .glyphicon-stop {
    color: #59bfa1;
}
.entitylist li:nth-child(9) .glyphicon-stop,#infomodal li:nth-child(9) .glyphicon-stop{
    color: #d7ce56;
}
.entitylist li:nth-child(10) .glyphicon-stop,#infomodal li:nth-child(10) .glyphicon-stop{
    color: #b45538;
}
.entitylist li:nth-child(11) .glyphicon-stop,#infomodal li:nth-child(11) .glyphicon-stop {
    color: #c48b6c;
}
.entitylist li:nth-child(12) .glyphicon-stop,#infomodal li:nth-child(12) .glyphicon-stop{
    color: #c56377;
}
.entitylist li:nth-child(13) .glyphicon-stop,#infomodal li:nth-child(13) .glyphicon-stop {
    color: #86c36a;
}
.moreinfo{
    cursor:pointer;
}
#infomodal .modal-header {
padding:2px 5px 0 0;
}
#infomodal ul{
    padding:0px;
}
#infomodal ul li{
    margin:0 10px 0 0;
}
.modal-dialog,.modal-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
}
.sslable{
    color:#f
}
.highcharts-button{
    display:none !important;
}