body {
    color:#02c8f2;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    font-size:14px;
    color:#fff;
    background-color:transparent;
}
html, body,content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Helvetica,Tahoma,Arial,sans-serif;
    font-size: 12px;
}
.rightcontent{
    float:right;
    width:330px;
    height:725px;
    background:url("../Image/config_indexright.png") no-repeat;
    background-size: 100% 100%;
}
.leftcontent{
float:left;
height:100%;
width:100%;
/*width:calc(100% - 330px);*/
}
.buttonrow{
    height:40px;
}
.leftcontent > div:nth-child(1) {
    height: 170px;
}
.leftcontent > div:nth-child(2) {
    height: 170px;
}
.row1 .cloum2{
    float:left;
    margin-right:5px;
    border: 1px solid #116bf2 !important;
    height:140px;
    width:calc(40% - 4px);
}
.row1 .cloum3{
    float:right;
    border: 1px solid #116bf2 !important;
    height:140px;
    width:calc(60% - 10px);
}
.row2 .cloum2{
    float:right;
    border: 1px solid #116bf2 !important;
    height:140px;
    width:calc(40% - 4px);
}
.row2 .cloum3{
    float:left;
    border: 1px solid #116bf2 !important;
    height:140px;
    width:calc(60% - 10px);
}
.cloum5{

    border: 1px solid #116bf2 !important;
    height:140px;
    width:calc(100% - 2px);
}

.leftcontent>div .row{
    margin-top:5px;
    height:140px;
    display:block;

}
.leftcontent>div .row:nth-child(2){
    margin-top:15px;
}
.cell-button {
    margin-left: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 22px;
    background-color: #116bf2;
    line-height: 22px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-top:10px;
}
.cloum2>div:nth-child(1),.cloum3>div:nth-child(1),.cloum5>div:nth-child(1){
    height:36px;
    vertical-align:middle;
    line-height:36px;
}
.cloum2>div:nth-child(2),.cloum3>div:nth-child(2),.cloum5>div:nth-child(2){
     height:calc(100% - 40px);
}
select {
    display: inline-block;
    height: 22px;
    border-radius: 4px;
    background-color: transparent;
    width: 90px;
    color:#fff;
    margin-left:10px;
}
li select {
    margin-right: 10px;
    width: 75px;
    margin-left: 5px;
}
li select:nth-child(1) {
    width: 85px;
}
select option {
    background-color: #071237;
}
ul li{
    display:block;
    height:26px;
}
.none{
    display:none;
}
li div{
    display:inline-block;
    height:30px;
    line-height:30px;
    vertical-align:middle;
}
.fa-toggle-off,.fa-toggle-on{
    cursor:pointer;
}
.row1 span,.row2 span{
  float:right;
  margin-right:20px;
  font-weight:700;
}
.progress{
    display:none;
}
.row2{
    display:inline-block;
    width:100%;
    margin-top:10px;
}
.row1{

    margin-top:10px;
}
.buttonrow>div:nth-child(2) {
    margin-left: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 22px;

    line-height: 22px;
    vertical-align: middle;
    text-align: center;
    color:#116bf2;
    font-weight:700;
    font-size:14px;
    margin-top: 10px;
}
.rightbox>div{
    display:inline-block;
    height:170px;
    width:33%;
    border: 1px solid #116bf2 !important;
}
.rightbox>div:nth-child(1){
    float:left;
}
.rightbox>div:nth-child(3){
    float:right;
}
.rightbox>div:nth-child(2){
   margin:0 0.5%;
}
.rightbox {
    margin-top:10px;
}
.rightbox i{
    float:right;
    margin-right:20px;
    margin-top:10px;
}
.rightbox select{
    margin-top:10px;
}
.rightboxbg{
    background:url("../Image/rightbox_bg.png") no-repeat;
    background-size: 356px 120px;
    height:138px;
    width:100%;
    background-position:center;
}
.device_vale_type,.char_type{
    display:inline-block;
}
.cloum3 li div:nth-child(2){
    margin-left:70px;
}
.cloum3 ul li:nth-child(1){
height:30px;
line-height:30px;
vertical-align:middle;
}